= javascript_include_tag "input_masks", "imask", "data-turbo-track": "reload"

%section.container
  .card.mt-4
    .card-header.bg-dark
      = form_with url: ferramentaria_inventories_path, method: :get, local: true do |f|
        .row
          .col-md-4
            .input-group
              = f.text_field :checked_at, value: params[:checked_at], class: 'form-control', placeholder: 'Digite a data'
              .input-group-append
                = button_tag type: 'submit', class: 'btn btn-light', style: 'margin-left: -3px;'do
                  = image_tag 'search.png', size: '20x20', alt: 'Pesquisar'

    .card-body
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Nome
            %th Sala
            %th Data
            %th Situação
            %th Visualizar
        %tbody
          - @inventories.each do |inventario|
            %tr
              %td= inventario.id
              %td= inventario.user.name
              %td= inventario.room.name
              %td= inventario.checked_at.strftime('%d/%m/%Y')
              %td 
                %span.badge.bg-success Aprovado
              %td
                = link_to ferramentaria_inventory_path(inventario), class: 'btn btn-info py-1' do
                  = image_tag 'eye-solid.svg', size: '15x15', class: 'text-info'
