= javascript_include_tag "input_masks", "imask", "data-turbo-track": "reload"

%section.container
  .card.mt-4
    .card-header.bg-dark
      = form_with url: professor_inventarios_path, method: :get, local: true do |f|
        .row.align-items-end
          .col-md-3
            .d-flex.align-items-center
              = f.label :room_id, "Sala", class: "text-light me-2"
              = f.select :room_id, options_for_select(@rooms.map { |room| [room.name, room.id]}, params[:room_id]),
                {prompt: "Todas as Salas"}, class: "form-control", style: "max-width: 400px;"
          .col-md-2
            .d-flex.align-items-center
              = f.label :checked_at, "Data", class: "text-light me-2"
              = f.text_field :checked_at, value: params[:checked_at], class: "form-control me-2", placeholder: "#{Time.now.strftime('%m/%Y')}"
          .col-md-2
            .d-flex.gap-4
              -# = f.submit class: "btn btn-light pe-2"
              -# = link_to "Limpar", professor_inventarios_path, class: "btn btn-outline-light pe-2"
              = button_tag type: "submit", class: "btn btn-light" do 
                = image_tag 'search.png', style: "width: 24px; height: 24px;"
              = link_to request.path, class: "btn btn-light" do 
                = image_tag 'no_filter.png', style: "width: 24px; height: 24px;"
    .card-body
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Nome
            %th Sala
            %th Data
            %th Situação
        %tbody
          - @inventories.each do |inventario|
            %tr
              %td= inventario.id
              %td= inventario.user.name
              %td= inventario.room.name
              %td= inventario.checked_at.strftime('%d/%m/%Y')
              %td 
                %span.badge.bg-success Aprovado
