%main.container
  %h1 WORKSPACE
  .card.mt-4
    .card-body
      %h5 Inventarios do #{current_user.name}
      %table.table.mt-4.table-hover
        %thead.table-secondary
          %tr
            %th ID
            %th Nome
            %th Sala
            %th Data
            %th Situação
        %tbody
          - @inventories.each do |inventario|
            %tr
              %td= inventario.id
              %td= inventario.user.name
              %td= inventario.room.name
              %td= inventario.checked_at.strftime('%d/%m/%Y')
              %td 
                %span.badge.bg-success Aprovado

%main.container.mt-5
  %h1 INFORMATIVOS
  .card.mt-4
    .card-body
      %h5 Inventarios do #{current_user.name}
      %table.table.mt-4.table-hover
        %thead.table-secondary
          %tr
            %th ID
            %th Nome
            %th Sala
            %th Data
            %th Situação
        %tbody
          %tr
            %td 1
            %td Carlos
            %td Sala 100
            %td 12/04/2025
            %td 
              %span.badge.bg-success Aprovado
          %tr
            %td 1
            %td Carlos
            %td Sala 100
            %td 12/04/2025
            %td 
              %span.badge.bg-danger Reprovado
          %tr
            %td 1
            %td Carlos
            %td Sala 100
            %td 12/04/2025
            %td 
              %span.badge.bg-secondary Aguardando

%footer
  .container.text-center.mt-3.mb-1
    %span Copyright (c) 2025 Author. All Rights Reserved.
