.d-flex.align-items-center.justify-content-center.vh-100.w-100
  .text-center.container
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin w-100"}) do |f|
      = image_tag "logo_form.png", size: "72x72", class: "mb-3"
      %h1.h3.mb-3.font-weight-normal GestPat v1.0.0
      = f.email_field :email, class: "form-control form-control-lg rounded-0", autocomplete: "email", placeholder: "Digite seu email"
      = f.password_field :password, class: "form-control form-control-lg rounded-0", autocomplete: "current-password", placeholder: "Digite sua senha"

      .checkbox.m-3
        = f.label :remember_me do
          = f.check_box :remember_me
          Lembrar-me

      = f.submit "Entrar", class: "btn btn-lg btn-primary btn-block w-100"

    %p.mt-5.mb-3.text-muted © 2025
:css
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-control-lg::placeholder {
  font-size: 0.9rem;
  }